/* Import font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:wdth,wght@75..125,200..900&family=IBM+Plex+Mono&family=Space+Mono&display=swap');

html {
    /* 
    * box-sizing
    * default: 'box-sizing: content-box'
    * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing 
    */
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Space Mono', 'IBM Plex Mono', monospace;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* mobile. Tamaño mínimo recomendado */
    font-size: 14px;
    line-height: 1.4em;
    background-color: #0000FF;
    color: #FCFCFC;
}

h1 {
    /* 
    wght 200 - 900
    wdth 75 - 125
    */
    font-family: 'Hubot Sans';
    font-size: 2.5rem;
    line-height: 1.14em;
    text-transform: uppercase;
    font-variation-settings: "wght" 900, "wdth" 125;
}
h1 span  {
    display: block;
}
.stroke-text {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFF;
}

header {
    width: 100%;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

a {
    font-family: "Hubot Sans", sans-serif;
    color: #FFF;
    text-transform: uppercase;
    min-width: 42px;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer.container {
    padding: 1em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

footer p {
    padding: 0;
    margin: 0;
}

footer a span {
    font-variation-settings: "wght" 900, "wdth" 75;
}
footer a span:nth-child(1) {
    font-variation-settings: "wght" 500, "wdth" 125;
}

article {
    width: 80%;
    max-width: 800px;
    margin: 0 auto; /* Centrar en 'x' de su elemento padre */
}

p {
    max-width: 60ch; /* Ancho máximo basado en el ancho del carácter "0" */
}

.container {
    margin: 0 auto;
    padding: 0 1em;
    width: 90%;
    min-width: 290px;
    max-width: 1200px;
}

nav.container {
    padding: 1em;
}

.reversed {
    font-style: normal;
    transform: scale(-1, 1);
    display: inline-block;
}