footer {
  width: 100%;
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
}

footer nav {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}

@media screen and (min-width: 420px) {
  footer .container {
    padding-bottom: 0;
  }
  footer nav {
    flex-direction: row;
  }
  footer nav ul {
    flex-direction: column;
  }
}

@media screen and (min-width: 540px) {
  footer {
    padding: 1em 0;
  }
  footer ul {
    flex-direction: row;
  }
}

@media screen and (min-width: 480px) {
  footer a {
    font-variation-settings: "wght" 350, "wdth" 80;
  }
}

@media screen and (min-width: 860px) {
  footer a {
    font-variation-settings: "wght" 350, "wdth" 94;
  }
}

footer nav {
  width: 100%;
  display: flex;
}

#networks-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
  gap: .5em;
  padding-top: 1em;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 420px) {
  #networks-container {
    position: fixed;
    width: auto;
    top: 1em;
    right: 5em;
  }
}
@media screen and (min-width: 960px) {
  #networks-container {
    right: 2em;
    flex-direction: column;
    justify-content: space-around;
  }    
}    
img#logotype {
  width: max(10vw, 180px);
}

.network-link {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.25em;
  font-variation-settings: "wght" 450, "wdth" 90;
  background-color: var(--theme-color);
  color: var(--theme-background);
  width: 25%;
  padding: .5em 0;
  transition: 250ms ease-in;
  border-radius: 3px;
}

.network-link:hover {
  transition: 250ms ease-out;
  filter: invert(1);
}

/* <-- footer */

a#logotype img {
  height: 1.25em;
}

/* desktop */

@media screen and (min-width: 540px) {
  a#logotype img {
    height: 1em;
  }

  .network-link {
    width: 42px;
    height: 42px;
  }
}